@mixin base() {
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 8rem;
    text-align: center;
    width: 30rem;

    @media all and (min-width: 768px) {
        padding-bottom: 14rem;
        width: 66rem;
    }
}

.learn {
    @include base;

    @import 'heading';
    @import 'description';
    // @import 'email';
    @import 'image';
    @import 'link';
    @import 'option';
    @import 'options';
}