@mixin base() {

    background-color: #F8B532;
    border-radius: .4rem;
    color: #2e2e2e;
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    width: 29rem;

    @media all and (min-width: 768px) {
        margin: 0;
        margin-bottom: 4rem;
        width: 25rem;
    }

    &:hover {
        background-color: #E9A827;
    }

}

.button {
    @include base;

    &--space {
        @include base;

        @media all and (min-width: 768px) {
            margin-right: 2rem;
        }
    }
}