@mixin base() {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    max-width: 1340px;
    padding: 1rem;

    @media all and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        padding-top: 3rem;
    }
}

&__container {
    @include base;
}