@mixin base() {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin: 0 auto;
    padding: 3rem;

    @media all and (min-width: 992px) {
        flex-direction: row;
        max-width: 1200px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

&__content {
    @include base;

   
}