@mixin base() {
    margin-bottom: 2rem;
    margin-top: 14rem;
    width: 375px;
    
    @media screen and (min-width: 443px) {
        margin-top: 5rem;
    }

    @media screen and (min-width: 768px) {
        flex-basis: 80%;
        flex-grow: 0;
        flex-shrink: 1;
        margin-top: 0;
        max-width: 600px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: 50%;
        flex-grow: 0;
        flex-shrink: 1;
    }
}

.video {
    @include base;

    @import 'content';
    @import 'wrapper';
}