@mixin base() {
    margin-bottom: 2rem;
    width: 100%;


    @media screen and (min-width: 992px) {
        flex-basis: 80%;
        flex-grow: 0;
        flex-shrink: 1;
        margin-top: 0;
        max-width: 600px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: 50%;
        flex-grow: 0;
        flex-shrink: 1;
    }
}

.video {
    @include base;

    @import 'content';
    @import 'wrapper';
}