@mixin base() {

    color: white;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    text-decoration: none;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    
    :last-child {
        border-right: none;
    }

    @media all and (min-width: 992px) {
        margin: 0;
        text-align: initial;
        width: initial;
    }

}

.footer-nav {
    @include base;

    &__item {
        font-size: 1.6rem;
        list-style-type: none;
        padding: 0;  
        flex-grow: 0;
        flex-shrink: 0;
        margin-bottom: 1rem;
        flex-basis: auto;
        text-align: center;  

        @media screen and (min-width: 992px) {
            border-right: 2px solid rgba(255 ,255, 255, 0.2);
        }

    }

    &__link {
        color: rgba(255 , 255, 255, 0.8);
        padding-left: 2rem;
        padding-right: 2rem;

        &:hover {
            color: #fff;
        }
    }

    @import 'list';
}