@mixin base() {
    color: #015294;
    cursor: pointer;
    display: inline-block;
    font-family: 'Ubuntu';
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    position: relative;
}

&__question {
    @include base;

    &::before {
        background-image: url('../images/minus.svg');
        background-repeat: no-repeat;
        background-size: 30%;
        background-position: center;
        background-color: #015294;
        border-radius: 50%;
        color:#fff;
        content: ' ';
        height: 2.5rem;
        display: inline-block;
        left: -4rem;
        line-height: 24px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 2.5rem;

        .faqs__faq[data-collapsed="true"] & {
            background-color: #015294;
            content: ' ';
            background-image: url('../images/plus.svg');

        }
    }


}
